/* ---------------------------------
 *   Define my colors
 * --------------------------------- */

$cyan = #14AABF

$color-twitter = #00acee

$gray1 = #ebeeef
$gray2 = #dde2e3
$gray3 = #cdd4d7
$gray4 = #bcc5c9
$gray5 = #a8b5ba
$gray6 = #93a2a8
$gray7 = #798c93
$gray8 = #5c6f76
$gray9 = #364145
